@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-rounded);
}

:root {
  --background: #fff7ed;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
